.chat-toggle {
  position: fixed;
  bottom: 20px;
  right: 25px;
  background: #d50000;
  color: white;
  border: none;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
  transition: 0.3s;
  z-index: 1000;

}

.chat-toggle:hover {
  background: #ff1744;
}

.chat-window {
  position: fixed;
  bottom: 90px;
  right: 25px;
  width: 330px;
  height: 430px;
  background: white;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-family: "Inter", sans-serif;
  z-index: 1000;
}

.chat-header {
  background: #d50000;
  color: white;
  padding: 0.8rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}

.chat-body {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
  background: #f5f5f5;
}

.msg {
  padding: 0.6rem 0.9rem;
  border-radius: 12px;
  margin-bottom: 0.5rem;
  max-width: 75%;
}

.msg.user {
  background: #d50000;
  color: white;
  margin-left: auto;
}

.msg.bot {
  background: #e0e0e0;
  color: #111;
  margin-right: auto;
}

.chat-input {
  display: flex;
  border-top: 1px solid #ddd;
}

.chat-input input {
  flex: 1;
  padding: 0.8rem;
  border: none;
  outline: none;
}

.chat-input button {
  background: #d50000;
  color: white;
  border: none;
  padding: 0 1rem;
  cursor: pointer;
}
