.navbar {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
  background: transparent;
  transition: all 0.4s ease;
}

.navbar.scrolled {
  background-color: rgba(255, 255, 255, 0.98);
  backdrop-filter: blur(8px);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.logo {
  font-size: 1.8rem;
  font-weight: 800;
  color: #e4002b;
  letter-spacing: 1px;
  cursor: pointer;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.25rem;
}

.nav-links a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  transition: color 0.3s ease;
}

.navbar.scrolled .nav-links a {
  color: black;
}

.nav-links a:hover {
  color: #e4002b;
}

.nav-icons {
  margin-right: 5rem;
}

.icon {
  font-size: 1.25rem;
  gap: 3.5rem;
  color: transparent;
  transition: color 0.3s ease, transform 0.2s ease;
  padding: 1rem;
}

.navbar.scrolled .icon {
  color:grey;
}

.icon:hover {
  color: #e4002b;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .navbar {
    padding: 0 1.5rem;
  }
  .nav-links {
    display: none;
  }
}
